CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=1024
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_INK_RUN_EINK_BRINGUP_ON_BOOT=n
CONFIG_INK_PANEL_MODEL_213_UC8151D_Z19C=y
CONFIG_INK_PANEL_POWER_ON_TIME_MS=100
CONFIG_INK_PANEL_POWER_OFF_TIME_MS=50
CONFIG_INK_PANEL_CLEAR_REFRESH_TIME_MS=12000
CONFIG_INK_PANEL_CLEAR_BEFORE_DRAW=n
CONFIG_INK_PANEL_FULL_REFRESH_TIME_MS=15000
CONFIG_INK_SCENE_CJK_FONT_PUHUI_14=y
CONFIG_AUDIO_RECORD_BUTTON_GPIO=9
CONFIG_AUDIO_RECORD_DURATION_MS=3000
CONFIG_AUDIO_RECORD_SAMPLE_RATE=24000
CONFIG_AUDIO_ES8311_INPUT_GAIN_DB=30
CONFIG_AUDIO_PLAYBACK_VOLUME=100
# CONFIG_AUDIO_CAPTURE_PROCESSING is not set
# CONFIG_AUDIO_CAPTURE_NOISE_GATE is not set
# CONFIG_AUDIO_CAPTURE_AGC is not set
CONFIG_AUDIO_CAPTURE_AGC_TARGET_AVG=1100
CONFIG_AUDIO_CAPTURE_AGC_MAX_GAIN_X100=250
# CONFIG_AUDIO_CAPTURE_SOFT_LIMITER is not set
CONFIG_AUDIO_LOOPBACK_DC_BLOCK=y
CONFIG_AUDIO_BOOT_TEST_TONE=y
CONFIG_AUDIO_BOOT_TEST_TONE_MS=700
CONFIG_AUDIO_RECORD_I2S_RAW_DIAG=y
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=y
CONFIG_AUDIO_PORTAL_AP_SSID="INK-ESP-AUDIO"
CONFIG_AUDIO_PORTAL_WIFI_START_DELAY_MS=2000
CONFIG_AUDIO_PORTAL_WIFI_MAX_TX_POWER_QDBM=84
CONFIG_AUDIO_PORTAL_BUTTON_LONG_PRESS_MS=3000
CONFIG_AUDIO_PORTAL_STA_AUTOCONNECT_DELAY_MS=15000
CONFIG_AUDIO_PORTAL_DIAGNOSTIC_WIFI_ONLY=n
